:root{
  --primary-red: #783b40;
  --primary-blue: #223648;
  --secondary-red: #461314;
  --secondary-white: #ffffff;
}
@font-face{
  font-family: 'Pittsbrook Serif';
  src: '../../public/Pittsbrook Serif.otf';
}
@font-face{
  font-family: 'Alesand Extra Bold';
  src: '../../public/Alesand Extra Bold.otf';
}
@font-face{
  font-family: 'Alesand Regular';
  src: '../../public/Alesand Regular.otf';
}
.App {
  text-align: center;
  background-color: var(--primary-red);
  min-height: calc(100% - 100px);

}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.body {
  margin-top: 5px;
  margin-bottom: 10px;
}
.body iframe{
  width: 100vw;
}

.App-header {
  display: flex;
  align-items: center;
  font-family: 'Pittsbrook Serif';
  justify-content: space-evenly;
  height: 100px;
  width: 100%;
  font-size: 48px;
  color: white;
  background-color: var(--primary-blue);
}
.header-left {
  width: 24px;
}
.App-header img {
  margin-top: -20px;
  margin-bottom: -25px;
}
.Secondary-header {
  font-family: "Alesand Extra Bold";
  font-size: 50px;
  color: white;
}
.Secondary-text {
  font-family: "Alesand Extra Bold";
  font-size: 22px;
  color: white;
}
.carousel {
  width: 80vw;
  margin-bottom: 10px;
}
.carousel-item {
  margin-left: 5px;
  margin-right: 5px;
}
.button {
  border-width: 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  appearance: none;
  text-decoration: none;
}
.small-button {
  width: 90px;
  height: 64px;
}
.large-button{
  width: 130px;
  height: 100px;
  font-size: 20px;
}
.button-white {
  background-color: white;
  color: var(--primary-blue);
  border-color: var(--primary-blue);
}
.button-blue {
  background-color: var(--primary-blue);
  color: white;
  border-color: white;
}

.height-100 {
  height: 100%;
}
.width-100 {
  width: 100%;
}
.margin-0 {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: white;
}

.menu {
  color: white;
  font-size: 50px;
  padding: 5px;
  }
  .menuNav {
    position: sticky;
    top: 0px;
    background-color: var(--primary-red);
    font-size: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap:5px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    text-decoration: underline;
    margin-left: -5px;
  }
  .menuNav button {
    border: none;
    background-color: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

@media screen and (min-width: 800px) {
  .menu-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.menu-card {
  font-size: medium;
  width: 95vw;
  min-width: 280px;
  max-width: 500px;
  background-color: var(--primary-blue);
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  display: grid;
  grid-template-columns: 5px 75px  5px auto ;
  grid-template-rows: 7px  auto 7px ;
}

.menu-image{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
}

.menu-text {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 7px;
  margin-right: 5px;
  text-align: start;
}

 .menu-name{
  font-family: 'Pittsbrook Serif';
  font-size: 22px;
  margin-right: 10px;
}
.menu-primary {
  display: flex;
  flex-direction: row;

}
.menu-secondary {
  width: 100%;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-description {
  text-align: start;
  font-size: 14px;
}
.show-more {
  cursor: pointer;
  text-decoration: underline;
}
.drawer {
  background-color: var(--primary-blue);
  color: white;
  font-size: larger;
  font-family: "Alesand Extra Bold";
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  overflow: hidden;
  padding: 10px;
  width: fit-content;
}

.drawer-divider {
  height: 1px;
  width: 80px;
  background-color: white;
}
#aboutPage {
  height: 100vh;
  background-color: var(--primary-red);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
