:root{
  --primary-red: rgb(120, 59, 64);
  --primary-blue: rgb(34, 54, 72);
  --secondary-red: rgb(70, 19, 20);
  --secondary-white: rgb(255, 255, 255);
}
@font-face{
  font-family: 'Pittsbrook Serif';
  src: '../../public/Pittsbrook Serif.otf';
}
@font-face{
  font-family: 'Alesand Extra Bold';
  src: '../../public/Alesand Extra Bold.otf';
}
@font-face{
  font-family: 'Alesand Regular';
  src: '../../public/Alesand Regular.otf';
}
.App {
  text-align: center;
  background-color: var(--primary-red);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.body {
  margin-top: 5px;
  margin-bottom: 10px;
}
.body iframe{
  width: 100vw;
}

.App-header {
  display: flex;
  align-items: center;
  font-family: 'Pittsbrook Serif';
  justify-content: center;
  height: 100px;
  width: 100%;
  font-size: 48px;
  color: white;
  background-color: var(--primary-blue);
}
.App-header img {
  margin-top: -25px;
  margin-bottom: -25px;
}
.Secondary-header {
  font-family: "Alesand Extra Bold";
  font-size: 48px;
  color: white;
}
.Secondary-text {
  font-family: "Alesand Extra Bold";
  font-size: large;
  color: white;
}
.carousel {

  height: 205px;
}

.button {
  width: 90px;
  height: 64px;
  border-width: 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  appearance: none;
}
.button-white {
  background-color: white;
  color: var(--primary-blue);
  border-color: var(--primary-blue);
}
.button-blue {
  background-color: var(--primary-blue);
  color: white;
  border-color: white;
}

.height-100 {
  height: 100%;
}
.width-100 {
  width: 100%;
}
.margin-0 {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: white;
}
